
.board {
  display: flex;
  flex-direction: column;
	align-items: stretch;
	/*
	display: grid;
	grid-auto-flow: column;
	column-gap: 1em;
	row-gap: 1em;
	*/
}

.boardColumns {
  display: flex;
	align-items: stretch;
}

.column {
	flex: 1;
}

.columnName {
  grid-row: 1;
}

.columnIssues {
	display: flex;
	flex-direction: column;
  padding: 1em;
  border: 1px solid #eee;
  border-radius: 5px;
}

.issueCard {
	display: grid;
  background: #fff;
  border-radius: 2px;
  padding: .2em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.1s cubic-bezier(.25,.8,.25,1);
  grid-template-columns: 1fr 4fr 8fr 2fr 2fr;

	grid-template-areas:
        "t k . b b"
        "a a a . ."
        "s s s s s";
	grid-template-rows: auto;
  justify-items: start;
  align-items: start;
  padding: .5em;
}

.issueCard:hover {
  box-shadow: 0 7px 18px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  transform: translate(0, 3px);
}

.issueCardName {
	grid-area: s;
	text-align: start;
  margin-top: .3em;
}


.issueButton {
  widht: 1.5em;
  height: 1.5em;
}

button {
  display: flex;
  border: none;
  align-items: center;
  background-color: #f9f9f9;
  justify-content: center;
}

button:hover {
  background-color: #f0f0f0;
}

.issueCardButtons {
  grid-area: b;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-self: end;
  flex-wrap: nowrap;
}

.issueLeftTr {
}

.issueRightTr {

}

.issueCardKey {
	grid-area: k;
  display: flex;
  flex-direction: row;
}
.issueCardKeyValue {
	color: cornflowerblue;
}

.issueCardTemporalBadge {
  color: #7d0000;
}

.issueCardAssignee {
  grid-area: a;
  text-align: left;
  font-size: .8em;
}
.issueCardType {
  grid-area: t;
}
.typeUnknown {
  color: gray;
}

.typeStory {
  color: cornflowerblue;
}

svg {
  stroke: #333;
}

.issueEditor {
  display: grid;
  justify-content: stretch;
  padding: 0 1em;
}
.issueEditor > button {
  justify-self: stretch;
}

